<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: Verdana; color: rgb(238, 245, 243); padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        
        </nav>
        <h1>Welcome to the most awesome website in the web</h1>
        <p>You wont find a website better anywhere else!</p>
    </body>
</html>